<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-commerce</title>
    <link rel="stylesheet" href="./static/css/style.css">
</head>
<body>
    <header>
        <nav class="navegacao_superior">
            <ul>
                <a href="#"><img src="./static/images/images.png" alt=""></a>
                <input type="text" value="Pesquise aqui!">
                <li><a href="#">Favoritos</a></li>
                <li><a href="#">Login</a></li>
                <li><a href="#">Carrinho</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="div_principal">
            <div class="wrapper1">
                <div class="conteudo">
                    <h1>Camisas</h1>
                </div>
                <div class="conteudo">
                    <h1>Casacos</h1>
                </div>
            </div>
            <div class="wrapper2">
                <div class="conteudo">
                    <h1>Shorts</h1>
                </div>
                <div class="conteudo">
                    <h1>Calças</h1>
                </div>
            </div>
        </div>
    </main>
    <footer>
    </footer>
</body>
</html>