<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-commerce</title>
    <link rel="stylesheet" href="./static/css/style.css">
</head>
<body>
    <header>
	<h1>E-commerce</h1>
        <nav class="navegacao_superior">
            <ul>
                <a href="#"><img src="./static/images/images.png" alt="Logo do menu de navegação"></a>
                <input type="text" placeholder="Pesquise aqui!">
                <li><a href="#">Favoritos</a></li>
                <li><a href="#">Login</a></li>
                <li><a href="#">Carrinho</a></li>
            </ul>
        </nav>
    </header>
    <main>
	<h2>Categorias</h2>
        <div class="div_principal">
            <div class="wrapper1">
                <div class="conteudo">
                    <h3>Camisas</h3>
                </div>
                <div class="conteudo">
                    <h3>Casacos</h3>
                </div>
            </div>
            <div class="wrapper2">
                <div class="conteudo">
                    <h3>Shorts</h3>
                </div>
                <div class="conteudo">
                    <h3>Calças</h3>
                </div>
            </div>
        </div>
    </main>
    <footer>
	    <hr>
	    <p>Direitos reservados</p>
    </footer>
</body>
</html>
